a.out
*.o
*.so
driver
nul
notes.org
.ruby-version
*.swp
tags
*.gch
*.so
bindings/python/build/
bindings/python/pycpslib.egg-info/
__pycache__
.cache
*.pyc
*.gcno
*.gcda
*.gcov

# For autotools build system
.deps/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
