a.out
*.o
driver
nul
notes.org
.ruby-version

# For autotools build system
.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
