*.dylib
*.eggs
*.gcda
*.gch
*.gcno
*.gcov
*.o
*.pyc
*.so
*.swp
.cache
.ruby-version
__pycache__
a.out
bindings/python/build/
bindings/python/pycpslib.egg-info/
driver
notes.org
nul
scratch
tags

# For autotools build system
.deps/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Valgrind related
*.dSYM
*.supp
.valgrindrc
